body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

h1 {
    font-size: 50px;

}

.orange-color {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 100px;
}

.half-width img {
    width: 50%;
    padding-top: 20px;
    padding-left: 200px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 10px;
    font-weight: 700;
}

.top-banner {
    background: url(images/top-banner.png);
    background-repeat: no-repeat;

}